{% extends 'base.html' %}

{% block title %}{{ SITENAME }} - Search{% endblock %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header id="blog-header" class="has-cover">
      <div class="inner">
        <nav id="navigation">
          {% if SITE_LOGO %}
            <span class="blog-logo">
                <a href="{{ SITEURL }}/"><img src="{{SITE_LOGO}}" alt="Blog Logo" /></a>
            </span>
          {% else %}
            <span id="home-button" class="nav-button">
                <a class="home-button" href="{{ SITEURL }}/index.html" title="Home"><i class="ic ic-arrow-left"></i> Home</a>
            </span>
          {% endif %}
          <span id="menu-button" class="nav-button">
            <a class="menu-button"><i class="ic ic-menu"></i> Menu</a>
          </span>
        </nav>
        <h1 class="post-title">{{ SITENAME }} - Search</h1>
        {% if HEADER_COVER %}
            <div class="blog-cover cover" style="background-image: url('{{ HEADER_COVER }}')">
        {% elif HEADER_COLOR %}
            <div class="post-cover cover" style="background-color: {{ HEADER_COLOR }}">
        {% else %}
            <div class="post-cover cover" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/post-bg.jpg')">
        {% endif %}
      </div>
    </header>
{% endblock header %}

{% block scripts %}
    {% if 'assets' in PLUGINS %}
    {% include '_includes/minify_tipuesearch.html' with context %}
    {% else %}
    <link href="{{ SITEURL }}/theme/tipuesearch/tipuesearch.css" rel="stylesheet">
    <script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch_set.js"></script>
    <script type="text/javascript" src="{{ SITEURL }}/theme/tipuesearch/tipuesearch.min.js"></script>
    <!-- 導入 local Tipue search 所需要的 tipuesearch_content.js -->
    <script type="text/javascript" src="{{ SITEURL }}/tipuesearch_content.js"></script>
    {% endif %}
    <script>
    $(document).ready(function() {
      $('#tipue_search_input').tipuesearch({
        'mode' : 'static',
        'show': 10,
        'minimumLength': 2,
        'newWindow': false
      });
    });
    </script>
{% endblock %}

{% block content %}
  <article class="post">
    <div class="inner">
        <div id="tipue_search_content"></div>
    </div>
</article>
{% endblock %}
